* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #333;
    font-family: 'Open Sans', sans-serif;
    min-width: 1200px;
}

h1 {
    text-align: left;
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 10px;
}

h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    margin: 2%;
}

p {
    text-align: center;
    color: #fff;
    font-size: 1em;
    margin: 2%;
    line-height: 150%;
}

.Navigation {
    background-color: #333;
    padding: 10px;
    margin: 0px;
    background:
        radial-gradient(black 15%, transparent 16%) 0 0,
        radial-gradient(black 15%, transparent 16%) 8px 8px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
        radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
    background-color: #282828;
    background-size: 16px 16px;
    display: flex;
    justify-content: space-between;
}

.UnderlineAnimation {
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

.UnderlineAnimation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.UnderlineAnimation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    padding-right: 30px;
}

.ContactForm form {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: fadein 1s ease-in-out;
}

.ContactForm label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.ContactForm input[type="text"],
.ContactForm textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 16px;
    color: #555;
}

.ContactForm input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: hsl(340deg 100% 32%);
    border: hsl(340deg 100% 32%) solid 3px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.ContactForm input[type="submit"]:hover {
    background-color: transparent;
}

.ContactForm p {
    color: red;
    margin: 0;
    margin-bottom: 20px;
    text-align: left;
    opacity: 0;
}

.invalid {
    border: 2px solid red;
}